<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="samrudhdhaimodkar.example.samsvideodownloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logonew"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SamsVideoDownloader">
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.PostImageActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true" />
        <activity android:name=".Activity.InstaLoginActivity" />
        <activity android:name=".Activity.MessageActivity" />

        <service
            android:name=".model.NotificationListener"
            android:exported="true"
            android:label="notifications"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".model.ServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".FullScreenVideo"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FullScreenImage"
            tools:ignore="Instantiatable" />
        <activity android:name=".InstagramActivity" />
        <activity android:name=".SelectedMedia" />
        <activity android:name=".SelectedProfile" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6682715102293566~5921040087" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_MkhFrOg5rYD4WF" />

        <activity android:name=".WhatsappActivity" />
        <activity
            android:name=".FacebookActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".ShareChatActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>